@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao PersonalBuy</h1>
    <p>Crie agora produtos e os veja.</p>
    <p>Estamos aqui para fazer os melhores produtos ao melhor preço.</p>
</div>

<div class="text-center mt-4">
    <a href="@Url.Action("Cadastro", "Produto")" class="btn btn-primary">Adicionar Produto</a>
    <a href="@Url.Action("Index", "Produto")" class="btn btn-primary">Ver produtos</a>
</div>
